* {
    box-sizing: border-box;
}

body {
    background: #fbfbfb;
}

body, ul {
    margin: 0;
    padding: 0;
}

main {
    padding: 0 4rem;
}

img {
    max-width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.header__list {
    display: flex;
    align-items: center;
    background: #3e3e3e;
    margin-bottom: 50px;
}

.header__list-item {
    list-style: none;
    padding: 16px;
}

.header__list-link {
    color: #fff;
}

.header__list-link.active {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    cursor: default;
    pointer-events: none;
}